<section class="buttons" >
    <form #f="ngForm" (ngSubmit)="onSubmit(f)" enctype="multipart/form-data">
      
        <input hidden type="text" ngModel name="id" [ngModel]="id">

        <mat-form-field>
            <input type="text" matInput placeholder="Name" ngModel name="name" required [ngModel]="(user) ? user.name : ''">
        </mat-form-field>

        <mat-form-field>
            <input type="email" matInput placeholder="E-mail" ngModel name="email" required [ngModel]="(user) ? user.email : ''"  email>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Date of birth" [matDatepicker]="picker" name="dateOfBirth" required [ngModel]="(user) ? user.dateOfBirth : ''">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
            <mat-select placeholder="Gender" ngModel name="status" required [ngModel]="(user) ? user.status : ''">
            <mat-option [value]="0">Male</mat-option>
            <mat-option [value]="1">Female</mat-option>
            <mat-option [value]="2">Other</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <input type="number" matInput placeholder="Hourly rate" ngModel name="hourlyRate" required [ngModel]="(user) ? user.hourlyRate : ''">
        </mat-form-field>

        <div>
            <button type="submit" mat-raised-button color="accent" [disabled]="f.invalid">{{ (id) ? 'Update' : 'Create' }}</button>
        </div>

    </form>
 
</section>
